.pos-receipt {
    margin: 0 !important;
    padding: 0 !important;
}

.pos-receipt * {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.pos-receipt .pos-receipt-logo {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    text-align: center;
}

.pos-receipt .pos-receipt-header {
    text-align: center;
}

.pos-receipt .pos-receipt-header img {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
}
