.modal-img {display: none;position: fixed;z-index: 2000;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgba(0,0,0,0.9);}
.modal-img img {width:auto;height:auto;max-width: 70%;max-height: 70%;margin: auto;display: block;}
.modal-img .row{padding:0 40px;}
.close-img:hover {color:#fff !important;}
.close-img {margin-left:auto;vertical-align:middle;font-size: 30px;font-weight: bold;color: grey !important;cursor: pointer;}
#OrderPdfDownloadLink{margin-right:10px;}
.m2m-zoom-buttons{width:100%;position: absolute;bottom: 10px;left: 10px;}
#m2m-zoom-in,#m2m-download-btn,#m2m-print-pdf,#m2m-zoom-out,#m2m-forward,#m2m-backward,#m2m-play-pause {width:40px;height:40px;font-size:15px;margin-right:5px;background-color: var(--AttachmentViewer_toolbarButton-background-color, #343a40);color: #fff;border: none;}
.m2m-widget-image{width:100px;cursor:pointer;}
.close-pdf{margin-left:auto;vertical-align:middle;font-size: 30px;font-weight: bold;color: grey !important;cursor: pointer;}
.pdf-container{display:flex;justify-content:center;align-items:center;}
.m2m-image-container{position: relative;display: inline-block;width: auto !important;padding: 2px 5px;}
.m2m-attach-delete-btn{color: red;margin-left: 5px;font-size: 15px;opacity: 0;transition: opacity 0.3s;cursor: pointer;}
.m2m-image-container:hover .m2m-attach-delete-btn { opacity: 1; }

.odx_video {
  width: 100%;
  height: 100%;
}