.o_kanban_view.o_kanban_dashboard.o_ebay_dashboard_kanban_ept {
    $sale-table-spacing: 10px;

    .o_kanban_record {
    	min-height:220px;
        @media (min-width: 768px) {
            min-width: 420px;
        }
    }
}